ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  h2 {
    font-size: 1.5rem;
    color: #4caf50;
    margin-bottom: 0.5rem;
  }
  
  h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }
  
  ion-button {
    margin-top: 2rem;
  }
  